.holder {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;

  .sensor-image {
    height: 2rem;
  }

  .parameter-values {
    display: flex;
    align-items: center;
    max-width: 50%;

    .unit {
      font-size: .8rem;
    }
  }
}

