.holder {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;

  .sensor-image {
    height: 3rem;
    width: 3rem;
  }

  .parameter-values {
    display: flex;
    align-items: center;

    .unit {
      font-size: .8rem;
    }
  }
}

