.view-toggler {
    position: fixed;
    top: 50%;
    left: 0;
    z-index: 2;

    .title {
        display: none;
    }
}

@media screen and (min-width: 600px) {
    .view-toggler {
        left: 5%;

        .title {
            display: block;
        }
    }
}
